// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Quicksand', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color
$primary: #1e293b;
$warning: #fbbf24;
$success: #14b8a6;
$danger: #fb7185;

// Button
$btn-padding-x: 1.25rem;